<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="container">
        <nav>
        <ul>
            <li>
                <a href="index.html">Início</a>
            </li>
        
            <li>
                <a href="project.html">Projetos</a>
            </li>
        </ul>
    </nav>
        <header>
            <h1>Contatos</h1>
        </header>
        <main>
            
            <p>
                Preenchendo este formulário você pode entrar em contato comigo, e assim que possível lhe retornarei o contato.
            </p>
            <form>
                <fieldset><legend>Fomulário de contato</legend>
                    <div class="form-group"><label>Nome:</label><input type="text"><br></div>
                    <div class="form-group"><label>Telefone:</label><input type="text"><br></div>
                    <div class="form-group"><label>E-mail:</label><input type="email"><br></div>
                    <div class="form-group"><label>Menssagem:</label><textarea name="menssagem" class="campo-mensagem" placeholder="Digite sua menssagem"></textarea><br><br></div>
                    <button type="submit">Enviar</button><button type="reset">Limpar</button>
                </fieldset>
            </form>
            

            
        </main>
        <footer>    
        <a href="https://github.com/bruunovsanttos" target="_blank" rel="noopener noreferrer">
            <img src="./img/github.svg"></img>
            <p>Github</p>
        </a>
        <a href="https://www.linkedin.com/in/brunovieirasantos/" target="_blank" rel="noopener noreferrer">
            <img src="./img/linkedin.svg"></img>
            <p>LinkedIn</p>
        </a>   
    </footer>
    </div>
</body>
</html>