<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Santos</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <nav>
        <ul>
            <li>
                <a href="index.html">Início</a>
            </li>
            <li>
                <a href="project.html">Projetos</a>
            </li>
            <li>
                <a href="contact.html">Contato</a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="center">
            <img src="./img/foto de perfil.jfif"></img>
        </div>
        <h1>Bruno Santos</h1>
        <h2>Desenvolverdor de Software</h2>
    </header>
    <main>
        <section>
            <h3>Sobre mim</h3>
            <p>Me chamo Bruno Santos, tenho 33 anos, curso Análise e Desenvolvimento de Sistemas na Universidade Anhembi Morumbi, com previsão de término em junho de 2027, e sou programador Back-end</p>
            <p>Trabalhando há mais de quinze anos na área da mecânica e metalurgica, optei por fazer uma nova escolha na minha vida, a tecnologia.</p>
            <p>Decidi virar um programador pois acrédito que no mundo em que vivemos a programação esta conjunta com quase tudo. Sendo assim a programação entrou na minha vida como uma escolha para evolução pessoal e para que eu pudesse de alguma forma moldar um futuro melhor.</p>
            
        </section>
        <section>
            <h3>Formação</h3>
            <p>Tecnologia em Automação Industrial - Anhanguera Educacional 2015</p>
            <p>Análise e Desenvolvimento de Sistemas - Anhembi Morumbi 2027</p>

        </section>
        <section>
            <h3>Cursos</h3>
            <p>Html - Dio</p>
            <p>Python  - Fiap</p>
            <p>Banco de dados Relacionais - DIO</p>
            <p>Flask - Dio</p>
        </section>
    </main>  
    
    <footer>    
        <a href="https://github.com/bruunovsanttos" target="_blank" rel="noopener noreferrer">
            <img src="./img/github.svg"></img>
            <p>Github</p>
        </a>
        <a href="https://www.linkedin.com/in/brunovieirasantos/" target="_blank" rel="noopener noreferrer">
            <img src="./img/linkedin.svg"></img>
            <p>LinkedIn</p>
        </a>   
    </footer>
    </div>
        

</body>
</html>