<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="container">
        <nav>
        <ul>
            <li>
                <a href="index.html">Início</a>
            </li>
        
            <li>
                <a href="contact.html">Contato</a>
            </li>
        </ul>
    </nav>
        <header>
            <h1>Projetos</h1>
        </header>
        <main>
            <h3>Projetos</h3>
            <p>
                Aqui você pode encontrar alguns <a href="https://github.com/bruunovsanttos/Portifolio"  target="_blank" rel="noopener noreferrer">projetos</a> meus já feitos.
            </p>

            <ul>
                <il><a href="#readme">Como Criar um Bom README</a></il><br>
                <il><a href="#todo">API ToDo List</a></il><br>
                <il><a href="#site">Site</a></il>
            </ul>

            <h3 id="readme">Como Criar um bom README</h3>
            <p>Nesse projeto eu quis mostrar a minha visão de como um bom README pode ajudar a mostrar seu projeto.</p>
            <p>Com isso criei um projeto ensinando ao meu ver como criar um README utilizando as linguagens de marcação deforma a você mesmo criar e estilizar com o Markdown.</p>
            <p>O Markdown assim como o Html é uma linguagem de marcação que o Github utiliza para montar o seu projeto de Readme.</p>
            <p>E como acredito que contribuir com a comunidade é a melhor forma de interagir e mostrar meu trabalho criei esse projeto, para de alguma forma apresentar a novas pessoas como um Github estrategico faz a diferença na nossa jornada.</p>
            <img src="./img/comocriarumbomreadme.jpg">
            <p>Para acessar esse projeto diretamente clique <a href="https://github.com/bruunovsanttos/Como-Criar-um-bom-README" target="_blank" rel="noopener noreferrer">aqui</a> e você vai ser diretamente redirecionado ao projeto.</p>

            <h3 id="todo">API ToDo list</h3>
            <p>Esse foi meu primeiro projeto de api com algumas diretrizes de segurança.</p>
            <p>Nele eu coloco todo meu conhecimento em backend com a utilizaão de Flask em Python</p>
            <p>Também demonstro meus conhecimentos em banco de dados utilizando o SQLAlchemy que me auxiliar no banco de dados desse projeto.</p>
            <p>Utilizo tambem JWT para autenticação de permisões, e com essa spremissa de segurança utilizo bycript para esconder informações sensiveis ao baco de dados</p>
            <img src="./img/apilistadetarefas.jpg">
            <p>Para saber mais e acessar o repositório do projeto clique <a href="https://github.com/bruunovsanttos/APIToDoList" target="_blank" rel="noopener noreferrer">aqui</a> e será redirecionado diretamente ao projeto.</p>

            <h3 id="site">Site</h3>
            <p>Aqui coloquei todo meu conecimento em HTML e CSS para criar esse site de primeiro contato com você que me acompanha no momento</p>
            <p>Aqui segui fazendo um portifolio e apresento ele visualme nte para você. POrque o Backend funciona mas o Front end te mostra minha noção de como trabalhar com as coisas.</p>
            <p>E aqui você pode acomonahar como novos projetos vem surgindo e mantendo minha caminhada vivida e constante nesse mundo.</p>
            <p>Para acessar esse repositorio para ver os codigos do que você esta vendo clique <a href="https://github.com/bruunovsanttos/Como_criar_uma_pagina_web" target="_blank" rel="noopener noreferrer">aqui</a> e veja como essa maravilha foi feita em código.</p>
        </main>
        <footer>    
        <a href="https://github.com/bruunovsanttos" target="_blank" rel="noopener noreferrer">
            <img src="./img/github.svg"></img>
            <p>Github</p>
        </a>
        <a href="https://www.linkedin.com/in/brunovieirasantos/" target="_blank" rel="noopener noreferrer">
            <img src="./img/linkedin.svg"></img>
            <p>LinkedIn</p>
        </a>   
    </footer>
    </div>
</body>
</html>